<body id="cellar">
  <div class="row">
    <div class="col-md-2">
      <div id="sidebar">
        <% @categories.each do |category| %>
          <div id="categories">
            <%= category.name %><br>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <div id="list">
        <% @items.each do |item| %>
         <div id="list_items">
           <%= item.title %><br>
           Description: <%= item.description %><br>
           Style: <%= item.category %><br>
           Region: <%= item.region %><br>
           Price: <%= item.price %><br>
         </div><br>
        <% end %>
      </div>
    </div>
  </div>
</body>
