<body id="cellar">
  <div class="row" id="list">
    <div class="col-md-2 col-sm-4 col-xs-6">
      <div id="categories">
      <button type="button" id="add-button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        Add a wine to your cellar
      </button>
        <% @wine_categories.each do |wine| %>
          <div id="category">
            <div id="category-checkbox">
              <label>
                <input type="checkbox" value="<%= wine.split(" ").join %>" id="<%= wine.split(" ").join %>ID"/>
                <%= wine %>
              </label>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xlg-2 search-item categories <%= item.category.split(" ").join %>">
            <div class="thumbnail">
              <img src="http://starbounder.org/mediawiki/images/a/ab/Wine_Bottle.png" alt="...">
              <div class="caption">
                <h4><%= item.title %></h4>
                <p>
                  Description: <%= item.description %><br>
                  Style: <%= item.category %><br>
                  Region: <%= item.region %><br>
                  Price: <%= item.price %><br>
                </p>
                <p><a href="#" class="btn btn-primary add-to-wishlist" role="button">Add to Wishlist</a> <a href="#" class="btn btn-default drank-wine" role="button">Drank</a></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add Wine!</button>
      </div>
    </div>
  </div>
</div>
